.help {
    width: 100%;
    min-height: 100vh;
    background: -webkit-linear-gradient(90deg, #18EBB6,#fff);
}


.icon {
    width: 100%;
    margin: 1vw;
}

.text {
    margin: 5vh;
    justify-content: center;
    flex-direction: column;
}
